com/cg/test/Schemas/EmpResp.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/MigrationPOC/Schemas/Schema.xsd2"
	 targetNamespace="http://www.tibco.com/schemas/MigrationPOC/Schemas/Schema.xsd2"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="EmpDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string"/>
				<xs:element name="Age" type="xs:int"/>
				<xs:element name="Designation" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>